*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
    font-weight: larger;
}

body{
    display:flex;
    flex-wrap: wrap;
    margin: 50px auto;
    max-width: 900px;
    gap: 30px;
}

.line1{
    display: flex;
    align-items: flex-start;
    gap: 30px;
}
.cards1{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 30px;
    height: 100%;
    position: relative;
    width: 50%;
    font-size: large;
}

.text1{
    position: relative;
    width: 400px;
    padding: 15px;
    border-radius: 20px;
    background: black;
    color: white;
}

.text1:after{
    content: '';
    position: absolute;
    left: 10%;
    width: 0;
    height: 0;
    border: 40px solid transparent;
    border-top-color:black ;
    border-left: 0;
    border-bottom: 0;
    margin-left: 0px;
}

.container1{
    display: flex;
    gap: 20px;
    align-items: center;
}

.image1 img{
    height: 100px;
    border-radius: 50%;
}

.cards2{
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    position: relative;
    width: 50%;
    background: white;
    border: 3px solid black;
    border-radius: 20px;
    height: 100%;
    font-size: large;
}

.container2{
    display:flex;
    gap: 10px;
    align-items: center;
}

.image2 img{
    height: 100px;
    border-radius: 50%;
}

.line2{
    display: flex;
    gap: 30px;
}

.image3 img{
    height: 300px;
    border-radius: 10%;
}

.checked{
    color: yellow;
}
.container3{
    height: 300px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    font-size: x-large;
    background: black;
    color: white;
    padding: 30px;
    border-radius: 30px;
}

.name3 p{
    color: gray;
}


.cards4{
    display: flex;
    flex-direction: column;
    height: 300px;
    background: white;
    border: 3px solid black;
    border-radius: 15px;
    padding: 30px;
    text-align: center;
    font-size: x-large;
    gap: 10px;
}

.image4{
    display: flex;
    align-items: center;
    gap: 15px;
    margin: 0 auto;
}

.image4 > .utama{
    height: 100px;
    opacity: 1;
}

.image4 img{
    height: 75px;
    border-radius: 50%;
    opacity: 0.5;
}

.name4{
    font-size: medium;
}










